.navbar {
    background-color: #2563eb;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.links a{
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.logout {
    background: white;
    color: #2563eb;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}